.skinHeader {
    background: rgba(10,10,15,0.85) !important;
    backdrop-filter: blur(10px);
}

body.mode-desktop .headerLeft .pageTitle,
body.mode-mobile .headerLeft .pageTitle {
    background: url("../img/logo.png") no-repeat left center !important;
    background-size: contain !important;
    width: 40px !important;
    height: 40px !important;
    text-indent: -9999px;
}